@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .container {
    @apply w-full mx-auto bg-[#eee]
  }
  .container2 {
    @apply w-[1100px] mx-auto
  }
}

@media only screen and (max-width:768px){
  .container {
    @apply w-full mx-auto bg-[#eee]
  }
}